@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-family: 'Cabinet Grotesk';

} */


body {
  font-family: 'Cabinet Grotesk', sans-serif;
}

/* Cabinet Grotesk - Black */
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/Grotesk/Fonts/WEB/fonts/CabinetGrotesk-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* Cabinet Grotesk - Extrabold */
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/Grotesk/Fonts/WEB/fonts/CabinetGrotesk-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

/* Cabinet Grotesk - Bold */
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/Grotesk/Fonts/WEB/fonts/CabinetGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Cabinet Grotesk - Medium */
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/Grotesk/Fonts/WEB/fonts/CabinetGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* Cabinet Grotesk - Regular */
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/Grotesk/Fonts/WEB/fonts/CabinetGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Cabinet Grotesk - Light */
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/Grotesk/Fonts/WEB/fonts/CabinetGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Cabinet Grotesk - Extralight */
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/Grotesk/Fonts/WEB/fonts/CabinetGrotesk-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

/* Cabinet Grotesk - Thin */
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/Grotesk/Fonts/WEB/fonts/CabinetGrotesk-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}